@import "vars";
@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=vietnamese');
@import '~react-flags-select/scss/react-flags-select.scss';

$fontFamily: 'Source Sans Pro', sans-serif;
$textMain: #3E3F42;
$textBase: #6B6C6F;
$bg: #FBFBFD;
$textSecondary: #9EA0A5;


::-webkit-scrollbar-button {
  display: none;
  height: 13px;
  border-radius: 0;
  background-color: orange;
}

::-webkit-scrollbar-button:hover {
  background-color: orange;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 7px;
  margin-right: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.4);
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  padding: 1px;
  border-left: 1px solid rgba(128, 128, 128, 0.1);
}

::-webkit-scrollbar {
  display: none;
}

.app {
  height: 100%;
  overflow: auto;
  /*padding-top: 100px;*/
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  background: $bg;
}

:global {
  .hidden {
    opacity: 0 !important;
    visibility: hidden;
  }

  .hidden-mobile {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: $fontFamily;
  background: $bg;
  color: $textBase;
  font-size: 16px;
  // overflow: hidden;
  font-weight: 400; // font smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input,
  button,
  textarea {
    color: $textMain;
    font-size: 16px;
    font-family: $fontFamily;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    transition: all 0.2s;
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    color: $textMain;
  }

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5 {
    margin-top: 1.125rem;
  }

  h1 + *,
  h2 + *,
  h3 + *,
  h4 + * {
    margin-top: 1em;
  }

  p {
    transition: all 0.2s;
    margin: 0;
    line-height: 1.375rem;
    font-weight: 400;
    font-size: 0.875rem;
    color: $textSecondary;
  }

  input,
  textarea {
    font-size: .875rem;
  }

  * + p {
    margin-top: 0.3em;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.375rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  p,
  ul,
  ol {
    & + * {
      // margin-top: 1.125em;
    }
  }

  p + p {
    margin-top: 0.4em;
  }

  a {
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
  }

  p,
  ul {
    a {
      display: inline-block;
      position: relative;
      transition: all 0.2s;
      color: $primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  strong {
    font-weight: 500;
  }

  ul,
  ol {
    line-height: 1.5;
    color: $textMain;
    font-size: 0.875rem;

    *:not(:last-child) {
      // margin-bottom: 8px;
    }
  }

  ul li {
    list-style: none;
  }

  ol {
    padding-left: 20px;
  }

  ul:global(.no-style) {
    list-style: none;
    padding-left: 0;

    ul {
      padding-left: 20px;
    }
  }

  code:not([class]) {
    display: inline-block;
    background: #FBFBFD;
    border: 1px solid #DADEE7;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.875rem;
    color: #34AA44;
    line-height: 1.375rem;
    padding: 4px 12px;
    font-family: $fontFamily;
  }
}

:global #root {
  height: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $textSecondary;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $textSecondary;
}

:-ms-input-placeholder {
  /* Microsoft Edge */
  color: $textSecondary;
}

form {
  // max-width: 760px;
}


/*==========Banner===========*/

.banner {
  //padding-top: 67px;
  //padding-bottom: 100px;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: rgba(118, 144, 164, 0.3);*/
  z-index: 0;
}

.banner ul.slider li {
  height: 100% !important;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0;
  margin-left: 5rem;
  margin-top: -2.2rem;
  -webkit-animation: fade-out 15s infinite both;
  -moz-animation: fade-out 15s infinite both;
  animation: fade-out 15s infinite both;
  background-position: center center;
  background-image: url("../../assets/images/slim1.png");
}

@media (min-width: 58em) {
  .banner ul.slider li {
    background-image: url("../../assets/images/slim1.png");
  }
}

.banner ul.slider li:nth-child(2) {
  background-image: url("../../assets/images/temp1.png");
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}

@media (min-width: 58em) {
  .banner ul.slider li:nth-child(2) {
    background-image: url("../../assets/images/temp1.png");
  }
}

.banner ul.slider li:nth-child(3) {
  background-image: url("../../assets/images/slim2.png");
  background-size: contain;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  animation-delay: 10s;
}

@media (min-width: 58em) {
  .banner ul.slider li:nth-child(3) {
    background-image: url("../../assets/images/slim2.png");
  }
}

/*.banner ul.slider li:nth-child(4) {*/
/*background-image: url(../images/A02.png);*/
/*-webkit-animation-delay: 13s;*/
/*-moz-animation-delay: 13s;*/
/*animation-delay: 13s;*/
/*}*/

/*@media (min-width: 58em) {*/
/*.banner ul.slider li:nth-child(4) {*/
/*background-image: url(../images/A02.png);*/
/*}*/
/*}*/


@media (max-width: 500px) {
  .banner {
    background-position: 30% center;;
  }
}

/*----------------------------------------------
--Fade out for slider
-----------------------------------------------  */
@-webkit-keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

@-moz-keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

@keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}


.vis-hidden {
  visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes toggle {
  50% {
    transform: translateY(-20px);
  }
}

@keyframes toggle {
  50% {
    transform: translateY(-20px);
  }
}

.selected--flag--option .country-flag {
  & span {
    color: white;
  }
}

.flag-select .arrow-down {
  color: white;
}
