@import "./assets/scss/vars";

.wrapper {
  width: 100%;
  height: 100%;
  // position: relative;
}

.intro {
  width: 100%;
  height: 95vh;
  background-image: url("./assets/images/bg1.png");
  background-size: 55% 80%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: -120%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: -webkit-linear-gradient(top, transparent 9%, rgba(0, 0, 0, .35) 99%);
    background-image: linear-gradient(-180deg, transparent 9%, rgba(0, 0, 0, .35) 99%);
    opacity: .6;
  }

  .header {
    // position: fixed;
    background-color: transparent;
    width: 100%;

    // border-bottom: 1px solid #eaedf3;
    // z-index: 99;

    .headerContainer {
      display: flex;
      height: 65px;
      padding: 0 15px;
      justify-content: space-between;
      align-items: center;
      max-width: 1280px;
      margin: auto;

      .leftHeader {
        display: flex;

        .logo {
          img {
            width: 7.5rem;
          }
        }
      }

      .rightHeader {

        ul {
          list-style-type: none;
          display: flex;

          li {
            &.active, &:hover {
              a {
                border-bottom: 1px solid $red;
              }
            }
          }


          a {
            font-size: 1rem;
            color: white;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-transform: none;
            line-height: 1.5rem;
            display: block;
            margin: 0 1.5rem;

            &:hover {
              text-decoration: none;
            }
          }

          @media screen and (max-width: 768px) {
            display: none;
          }

        }

        .headerToggle {
          display: none;
          @media screen and (max-width: 768px) {
            display: block;
          }
        }

      }


    }

  }

  .introContent {
    display: flex;
    margin: 70px auto auto auto;
    width: 100%;
    max-width: 1280px;
    padding: 0 15px;
    z-index: 9999 !important;
    position: relative;

    .introLeft {
      flex: 1;
      margin-top: 5rem;

      p {
        color: #222222;
      }

      p:nth-child(1) {
        font-size: 2rem;
        line-height: 3.2rem;
        position: relative;

        img {
          position: absolute;
          top: 3.3rem;
          width: 21rem;
          margin-left: 12px;

          @media screen and (max-width: 768px) {
            position: absolute;
            top: 3.3rem;
            width: 17rem;
            margin-left: 12px;
          }

          @media screen and (max-width: 320px) {
            top: 4rem;
            width: 12rem;
          }
        }


        @media screen and (max-width: 320px) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 375px) {
          font-size: 1.4rem;
        }
      }

      p:nth-child(2) {
        margin-top: 1.6rem;
        font-size: 1rem;
      }

      button {
        margin-top: 2rem;
        padding: 10px 25px;
        background: $red;
        border-radius: 20px;
        color: white;
        outline: none !important;
        cursor: pointer;
        border: none;
        transition: all .2s;

        a {
          color: white;
        }

        &:hover {
          a {
            color: $red;
          }

          background: white;
          // border: 1px solid $red;
        }
      }


      .analytic {
        display: flex;
        justify-content: space-between;
        margin-top: 10rem;
        margin-left: -25px;

        .analyticItem {
          flex-basis: calc(32%);
          text-align: center;

          p, span {
            font-weight: 700 !important;
            color: #222222;
          }

          span {
            @media screen and (max-width: 320px) {
              font-size: .8rem;
            }
          }

          p {
            color: $red;
            font-size: 3rem;
            @media screen and (max-width: 320px) {
              font-size: 1.5rem;
              line-height: 2rem;
            }
          }
        }

        @media screen and (max-width: 768px) {
          margin-left: 0;
          margin-top: 8rem;
        }

        @media screen and (max-width: 320px) {
          margin-top: 1.5rem;
        }
      }

      @media screen and (max-width: 768px) {
        flex: 1 1;
        margin-top: 2rem;
        padding: 0 15px;
      }

    }

    .introRight {
      background-image: url("./assets/images/bginfinity.png");
      @include backgroundCover();
      background-size: 50% 40%;
      background-position-y: bottom;
      background-position-x: 140%;
      display: flex;
      justify-content: flex-end;
      flex: 2;
      position: relative;
      flex-direction: column;
      // margin-left: 10px;

      .social {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        z-index: 9999 !important;

        img {
          margin-left: 1.2rem;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
            transition: all .3s;
          }
        }
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      margin: 0 auto;
    }

  }

  //.topBg {
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  z-index: 0;
  //}

  @media screen and (min-width: 1600px) {
    // height: 70vh;
  }

  @media screen and (max-width: 1024px) {
    height: 60vh;
    // background: red;
  }

  @media screen and (max-width: 768px) {
    height: 80vh;
    background-image: none;
  }

  @media screen and (max-width: 375px) {
    height: 90vh;
    // background: red;
  }

  @media screen and (max-width: 360px) {
    height: 95vh;
    // background: red;
  }


}

.navPanel {
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), box-shadow 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  z-index: 100000 !important;
  position: fixed;
  left: 100%;
  border-left: $borderDefault;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 270px;
  width: 300px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 50px 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //background-image: url('./assets/images/bg1.png');
  //background-repeat: no-repeat;
  //background-position: 0% 140%;
  //background-size: 100% 141%;
  background: #383e54;

  ul {
    list-style-type: none;

    li {
      &.active, &:hover {
        a {
          border-bottom: 2px solid $red;
        }
      }
    }


    a {
      font-size: 1rem;
      color: white;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-transform: none;
      line-height: 2rem;
      display: block;
      border-bottom: 2px solid #fff;
      padding-top: 20px;
      width: 70%;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.closeBtn {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;

  i {
    font-size: 1.2rem;
    color: white;
  }
}

.menuOpen {
  @media screen and (max-width: 768px) {
    transform: translateX(-300px);
  }
}

.products {
  width: 100%;
  height: 100vh;

  @media screen and (max-width: 1024px) {
    height: 50vh;
    // background: red;
  }

  @media screen and (max-width: 768px) {
    height: 40vh;
  }

}

.culture {
  width: 100%;
  height: 90vh;

  .titleCulture {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 4rem;

    img {
      margin: 0 auto 30px auto;
    }

    @media screen and (max-width: 768px) {
      margin: 1rem 0 2rem;
    }
  }

  .cardCulture {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .cardItem {
      width: 276px;
      margin-bottom: 3rem;

      .imageWrapper {
        height: 276px;
        width: 100%;
        @include backgroundCover();
        background-size: contain;
      }

      h3 {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        text-align: left;
        margin-top: .7rem;
        @media screen and (max-width: 768px) {
          text-align: center;
          font-size: 1.3rem;
        }
      }

      span {
        color: #aaaaaa;
        @media screen and (max-width: 768px) {
          font-size: .8rem;
        }
      }

      @media screen and (max-width: 768px) {
        flex-basis: calc(50%);
        // width: 200px;
        .imageWrapper {
          height: 200px;
        }
      }
    }
  }

  @media screen and (min-width: 1600px) {
    // height: 70vh;
  }

  @media screen and (max-width: 1024px) {
    height: 100%;
    // background: red;
  }

}

.footer {
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-image: url('./assets/images/footer.svg');
  @include backgroundCover();

  .footerContainer {

    display: flex;
    max-width: 1280px;

    ul {
      display: flex;

      li {
        a {
          padding: 0 10px;
          color: #1c233c;
          font-size: 1rem;
        }
      }
    }

    .textBottom {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      justify-content: center;
      align-items: center;

      p {
        color: #1c233c;
      }
    }
  }

  .leftFooter {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    @media screen and (max-width: 678px) {
      display: none;
    }
  }

  .centerFooter {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rightFooter {
    flex: 1;
  }

  @media screen and (min-width: 1600px) {
    // height: 60vh;
  }

  @media screen and (max-width: 1024px) {
    // height: 10vh
  }
}


/*====== Carousel=======*/
.carousel {
  width: 100%;
  position: relative;

  button {
    padding: 1px 7px 2px 7px;
    color: white;
    background: white;
  }

  .carouselItem {
    position: relative;

    img {
      // position: absolute;
      width: 100%;
      max-height: 100vh;
      @media screen and (min-width: 1600px) {
        height: 100vh;
      }
    }

    h3 {
      color: white;
      font-size: 4.5rem;
      font-weight: bold;

      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
      }

    }

    span {
      font-size: 1.2rem;
      @media screen and (max-width: 768px) {
        font-size: .7rem;
      }
    }

    .textContent {
      position: absolute;
      left: 9rem;
      max-width: 23rem;
      top: 40%;
      color: white;

      a {
        color: white;
        text-decoration: none;
      }

      button {
        margin-top: 2rem;
        padding: 10px 25px;
        background: $green;
        border-radius: 20px;
        color: white;
        outline: none !important;
        cursor: pointer;
        border: none;
        transition: all .2s;

        &:hover {
          background: white;
          color: $red;

          a {
            color: $red;
          }
        }

        @media screen and (max-width: 768px) {
          margin-top: 1.5rem;
          font-size: .7rem;
        }

      }

      @media screen and (max-width: 768px) {
        left: 2rem;
        max-width: 9rem;
        top: 4%;
      }
      //@media screen and (min-width: 1600px) {
      //  left: 40rem;
      //}
    }
  }
}
