@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=vietnamese");
.wrapper {
  width: 100%;
  height: 100%; }

.intro {
  width: 100%;
  height: 95vh;
  background-image: url("./assets/images/bg1.png");
  background-size: 55% 80%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: -120%; }
  .intro::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: -webkit-linear-gradient(top, transparent 9%, rgba(0, 0, 0, 0.35) 99%);
    background-image: linear-gradient(-180deg, transparent 9%, rgba(0, 0, 0, 0.35) 99%);
    opacity: .6; }
  .intro .header {
    background-color: transparent;
    width: 100%; }
    .intro .header .headerContainer {
      display: flex;
      height: 65px;
      padding: 0 15px;
      justify-content: space-between;
      align-items: center;
      max-width: 1280px;
      margin: auto; }
      .intro .header .headerContainer .leftHeader {
        display: flex; }
        .intro .header .headerContainer .leftHeader .logo img {
          width: 7.5rem; }
      .intro .header .headerContainer .rightHeader ul {
        list-style-type: none;
        display: flex; }
        .intro .header .headerContainer .rightHeader ul li.active a, .intro .header .headerContainer .rightHeader ul li:hover a {
          border-bottom: 1px solid #ff4848; }
        .intro .header .headerContainer .rightHeader ul a {
          font-size: 1rem;
          color: white;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-transform: none;
          line-height: 1.5rem;
          display: block;
          margin: 0 1.5rem; }
          .intro .header .headerContainer .rightHeader ul a:hover {
            text-decoration: none; }
        @media screen and (max-width: 768px) {
          .intro .header .headerContainer .rightHeader ul {
            display: none; } }
      .intro .header .headerContainer .rightHeader .headerToggle {
        display: none; }
        @media screen and (max-width: 768px) {
          .intro .header .headerContainer .rightHeader .headerToggle {
            display: block; } }
  .intro .introContent {
    display: flex;
    margin: 70px auto auto auto;
    width: 100%;
    max-width: 1280px;
    padding: 0 15px;
    z-index: 9999 !important;
    position: relative; }
    .intro .introContent .introLeft {
      flex: 1;
      margin-top: 5rem; }
      .intro .introContent .introLeft p {
        color: #222222; }
      .intro .introContent .introLeft p:nth-child(1) {
        font-size: 2rem;
        line-height: 3.2rem;
        position: relative; }
        .intro .introContent .introLeft p:nth-child(1) img {
          position: absolute;
          top: 3.3rem;
          width: 21rem;
          margin-left: 12px; }
          @media screen and (max-width: 768px) {
            .intro .introContent .introLeft p:nth-child(1) img {
              position: absolute;
              top: 3.3rem;
              width: 17rem;
              margin-left: 12px; } }
          @media screen and (max-width: 320px) {
            .intro .introContent .introLeft p:nth-child(1) img {
              top: 4rem;
              width: 12rem; } }
        @media screen and (max-width: 320px) {
          .intro .introContent .introLeft p:nth-child(1) {
            font-size: 1.5rem; } }
        @media screen and (max-width: 375px) {
          .intro .introContent .introLeft p:nth-child(1) {
            font-size: 1.4rem; } }
      .intro .introContent .introLeft p:nth-child(2) {
        margin-top: 1.6rem;
        font-size: 1rem; }
      .intro .introContent .introLeft button {
        margin-top: 2rem;
        padding: 10px 25px;
        background: #ff4848;
        border-radius: 20px;
        color: white;
        outline: none !important;
        cursor: pointer;
        border: none;
        transition: all .2s; }
        .intro .introContent .introLeft button a {
          color: white; }
        .intro .introContent .introLeft button:hover {
          background: white; }
          .intro .introContent .introLeft button:hover a {
            color: #ff4848; }
      .intro .introContent .introLeft .analytic {
        display: flex;
        justify-content: space-between;
        margin-top: 10rem;
        margin-left: -25px; }
        .intro .introContent .introLeft .analytic .analyticItem {
          flex-basis: calc(32%);
          text-align: center; }
          .intro .introContent .introLeft .analytic .analyticItem p, .intro .introContent .introLeft .analytic .analyticItem span {
            font-weight: 700 !important;
            color: #222222; }
          @media screen and (max-width: 320px) {
            .intro .introContent .introLeft .analytic .analyticItem span {
              font-size: .8rem; } }
          .intro .introContent .introLeft .analytic .analyticItem p {
            color: #ff4848;
            font-size: 3rem; }
            @media screen and (max-width: 320px) {
              .intro .introContent .introLeft .analytic .analyticItem p {
                font-size: 1.5rem;
                line-height: 2rem; } }
        @media screen and (max-width: 768px) {
          .intro .introContent .introLeft .analytic {
            margin-left: 0;
            margin-top: 8rem; } }
        @media screen and (max-width: 320px) {
          .intro .introContent .introLeft .analytic {
            margin-top: 1.5rem; } }
      @media screen and (max-width: 768px) {
        .intro .introContent .introLeft {
          flex: 1 1;
          margin-top: 2rem;
          padding: 0 15px; } }
    .intro .introContent .introRight {
      background-image: url("./assets/images/bginfinity.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-size: 50% 40%;
      background-position-y: bottom;
      background-position-x: 140%;
      display: flex;
      justify-content: flex-end;
      flex: 2;
      position: relative;
      flex-direction: column; }
      .intro .introContent .introRight .social {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        z-index: 9999 !important; }
        .intro .introContent .introRight .social img {
          margin-left: 1.2rem;
          cursor: pointer; }
          .intro .introContent .introRight .social img:hover {
            transform: scale(1.2);
            transition: all .3s; }
      @media screen and (max-width: 768px) {
        .intro .introContent .introRight {
          display: none; } }
    @media screen and (max-width: 768px) {
      .intro .introContent {
        margin: 0 auto; } }
  @media screen and (max-width: 1024px) {
    .intro {
      height: 60vh; } }
  @media screen and (max-width: 768px) {
    .intro {
      height: 80vh;
      background-image: none; } }
  @media screen and (max-width: 375px) {
    .intro {
      height: 90vh; } }
  @media screen and (max-width: 360px) {
    .intro {
      height: 95vh; } }

.navPanel {
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), box-shadow 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  z-index: 100000 !important;
  position: fixed;
  left: 100%;
  background: #fff;
  border-left: 1px solid #EAEDF3;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 270px;
  width: 300px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 50px 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .navPanel ul {
    list-style-type: none; }
    .navPanel ul li.active a, .navPanel ul li:hover a {
      border-bottom: 2px solid #ff4848; }
    .navPanel ul a {
      font-size: 1.4rem;
      color: #333333;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-transform: none;
      line-height: 2rem;
      display: block;
      border-bottom: 2px solid #fff;
      padding-top: 20px;
      width: 70%; }
      .navPanel ul a:hover {
        text-decoration: none; }

.closeBtn {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer; }
  .closeBtn i {
    font-size: 1.2rem; }

@media screen and (max-width: 768px) {
  .menuOpen {
    transform: translateX(-300px); } }

.products {
  width: 100%;
  height: 100vh; }
  @media screen and (max-width: 1024px) {
    .products {
      height: 50vh; } }
  @media screen and (max-width: 768px) {
    .products {
      height: 40vh; } }

.culture {
  width: 100%;
  height: 90vh; }
  .culture .titleCulture {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 4rem; }
    .culture .titleCulture img {
      margin: 0 auto 30px auto; }
    @media screen and (max-width: 768px) {
      .culture .titleCulture {
        margin: 1rem 0 2rem; } }
  .culture .cardCulture {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    .culture .cardCulture .cardItem {
      width: 276px;
      margin-bottom: 3rem; }
      .culture .cardCulture .cardItem .imageWrapper {
        height: 276px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-size: contain; }
      .culture .cardCulture .cardItem h3 {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        text-align: left;
        margin-top: .7rem; }
        @media screen and (max-width: 768px) {
          .culture .cardCulture .cardItem h3 {
            text-align: center;
            font-size: 1.3rem; } }
      .culture .cardCulture .cardItem span {
        color: #aaaaaa; }
        @media screen and (max-width: 768px) {
          .culture .cardCulture .cardItem span {
            font-size: .8rem; } }
      @media screen and (max-width: 768px) {
        .culture .cardCulture .cardItem {
          flex-basis: calc(50%); }
          .culture .cardCulture .cardItem .imageWrapper {
            height: 200px; } }
  @media screen and (max-width: 1024px) {
    .culture {
      height: 100%; } }

.footer {
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-image: url("./assets/images/footer.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .footer .footerContainer {
    display: flex;
    max-width: 1280px; }
    .footer .footerContainer ul {
      display: flex; }
      .footer .footerContainer ul li a {
        padding: 0 10px;
        color: #1c233c;
        font-size: 1rem; }
    .footer .footerContainer .textBottom {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      justify-content: center;
      align-items: center; }
      .footer .footerContainer .textBottom p {
        color: #1c233c; }
  .footer .leftFooter {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex; }
    @media screen and (max-width: 678px) {
      .footer .leftFooter {
        display: none; } }
  .footer .centerFooter {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer .rightFooter {
    flex: 1; }

/*====== Carousel=======*/
.carousel {
  width: 100%;
  position: relative; }
  .carousel button {
    padding: 1px 7px 2px 7px;
    color: white;
    background: white; }
  .carousel .carouselItem {
    position: relative; }
    .carousel .carouselItem img {
      width: 100%;
      max-height: 100vh; }
      @media screen and (min-width: 1600px) {
        .carousel .carouselItem img {
          height: 100vh; } }
    .carousel .carouselItem h3 {
      color: white;
      font-size: 4.5rem;
      font-weight: bold; }
      @media screen and (max-width: 768px) {
        .carousel .carouselItem h3 {
          font-size: 1.5rem; } }
    .carousel .carouselItem span {
      font-size: 1.2rem; }
      @media screen and (max-width: 768px) {
        .carousel .carouselItem span {
          font-size: .7rem; } }
    .carousel .carouselItem .textContent {
      position: absolute;
      left: 9rem;
      max-width: 22rem;
      top: 40%;
      color: white; }
      .carousel .carouselItem .textContent a {
        color: white;
        text-decoration: none; }
      .carousel .carouselItem .textContent button {
        margin-top: 2rem;
        padding: 10px 25px;
        background: #38B249;
        border-radius: 20px;
        color: white;
        outline: none !important;
        cursor: pointer;
        border: none;
        transition: all .2s; }
        .carousel .carouselItem .textContent button:hover {
          background: white;
          color: #ff4848; }
          .carousel .carouselItem .textContent button:hover a {
            color: #ff4848; }
        @media screen and (max-width: 768px) {
          .carousel .carouselItem .textContent button {
            margin-top: 1.5rem;
            font-size: .7rem; } }
      @media screen and (max-width: 768px) {
        .carousel .carouselItem .textContent {
          left: 2rem;
          max-width: 9rem;
          top: 4%; } }
